@import "./scale.scss";

:root {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  scroll-behavior: smooth;
}

body {
  margin-block-start: ms(1);
}

h2 {
  font-size: ms(3);
}

main {
  inline-size: 90vw;
}

.center-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inline-size\:max {
  inline-size: min(100%, 1280px);
}

.max-inline-size\:60ch {
  max-inline-size: 60ch;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin stacks {
  @for $i from 0 through 8 {
    .stack\:#{$i} > * + * {
      margin-block-start: ms($i);
    }
  }
}

@include stacks;
