---

import { Picture } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import { CDN_RESOURCES } from "@/lib/constants";
---

<Layout>
  <h1 class="sr-only">About India Nagy</h1>

  <div class="w-full max-w-[60ch] overflow-hidden rounded-3xl">
    <Picture
      src={CDN_RESOURCES.ABOUT_IMAGE}
      alt="India basking in the sun posed in front a bright, colorful mural of a beach scene in Mexico."
      sizes="60ch"
      formats={["avif", "webp"]}
      fallbackFormat="jpg"
      quality={85}
      loading="lazy"
      inferSize
    />
  </div>

  <p>
    Born in Brooklyn and raised in Florida, I’ve called Seattle home since 1996,
    where I’ve been channeling my endless curiosity and deep passion for
    creativity ever since.
  </p>

  <p>
    My career has taken me from a local design agency to leading creative
    efforts at Choice Organic Teas, where I shaped the brand’s story and oversaw
    everything from packaging to marketing collateral. I’ve managed a diverse
    portfolio of consumer brands for a national confectioner manufacturer and,
    most recently, collaborated with teams at Amazon to deliver innovative
    design solutions that supported key business goals.
  </p>

  <p class="mb-12">
    On my own time, I like traveling to sunny places, birdwatching, reading,
    crafting pompoms, and trying to figure out how to grow things in my garden.
    My 12 year old daughter is my youth mentor and keeps me in touch with the
    latest trends. My favorite Crayola color is Seafoam. I’m a Leo and an
    extroverted introvert. I like being helpful.
  </p>
</Layout>
