---
import { ContactForm } from "@/components/ContactForm";
import Layout from "@/layouts/Layout.astro";

import { FileText } from "lucide-react";
---

<Layout>
  <h1 class="sr-only">Contact India</h1>

  <div class="font-serif">
    <p class="text-4xl">Hello there!</p>
    <p class="text-lg">
      If you have a project or a question in mind, please drop me a line.
    </p>
  </div>

  <ContactForm client:load />
  <div class="mb-12 mt-8">
    <a
      href="https://pub-01eadd61e87f425eb8cdb0a64a96ed42.r2.dev/resume.pdf"
      class="flex gap-2"
    >
      <FileText />
      Download my resume.
    </a>
  </div>
</Layout>
