---
import { ContactForm } from "@/components/ContactForm";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1 class="sr-only">Contact India</h1>

  <div class="font-serif">
    <p class="text-4xl">Hello there!</p>
    <p class="text-lg">
      If you have a project or a question in mind, please drop me a line.
    </p>
  </div>

  <ContactForm client:load />
</Layout>
