---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
---

<Layout
  title="India Nagy: Brand Identities, Graphic Design, Project Management"
>
  <main class="stack:8">
    <About />

    <section id="skills" class="stacks:1 center-horizontal">
      <h2>My Skills</h2>
      <ul class="switcher inline-size:max">
        <li>Branding & Packaging Design</li>
        <li>Website & Digital Design</li>
        <li>Photography & Art Direction</li>
      </ul>
    </section>

    <section id="case-studies" class="stack:1 center-horizontal">
      <h2>Case Studies</h2>
      <ul class="switcher inline-size:max">
        <li>Skippy & Salted Nut Roll</li>
        <li>Myntz! Breathmints</li>
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  @import "../styles/scale.scss";

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border: 1px solid red;
    min-block-size: 5lh;
  }

  .switcher {
    $space: ms(1);
    $threshold: 800px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(#{$space} / 2);

    > * {
      flex-basis: calc((#{$threshold} - (100% - #{$space})) * 999);
      flex-grow: 1;
    }
  }
</style>
