---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="India Nagy: Brand Identities, Graphic Design, Project Management"
>
  <main class="stack-large">
    <section id="about" class="stack-small">
      <hgroup>
        <h2 class="sr-only">About India Nagy</h2>
        <p class="intro-text">
          Crafting Connections with Consumers: Brand & Design Expertise, Project
          Management, and Excellence
        </p>
      </hgroup>

      <p>
        Creative visionary with more than 10 years of experience transforming
        brands through innovative packaging design. My expertise spans print,
        digital, and packaging mediums for captivating consumer experiences.
      </p>

      <p>
        I've brought concepts to life for major brands including Skippy, Pyramid
        Breweries, and Myntz! My portfolio shows off imaginative designs that
        engage shoppers while delivering strategic outcomes.
      </p>

      <p>
        Success comes from uniting teams around a shared vision. I leverage
        curiosity, collaboration and project management strengths to uncover
        opportunities and ensure flawless execution.
      </p>

      <p>
        I'm seeking a senior art director role where I can make brands leap off
        shelves into hearts and minds. Let's connect if you need a design expert
        who thrives on driving strategic impact through creativity.
      </p>
    </section>

    <section id="skills">
      <h2>My Skills</h2>
      <ul>
        <li>Branding & Packaging Design</li>
        <li>Website & Digital Design</li>
        <li>Photography & Art Direction</li>
      </ul>
    </section>

    <section id="case-studies">
      <h2>Case Studies</h2>
      <ul>
        <li>Skippy & Salted Nut Roll</li>
        <li>Myntz! Breathmints</li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  main {
    margin-inline: var(--s0);
  }

  p {
    text-wrap: pretty;
  }

  .intro-text {
    font-size: var(--s3);
    font-weight: bold;
    text-wrap: balance;
    line-height: calc(1.125 * 1.125);
  }
</style>
