---
import Layout from "@/layouts/Layout.astro";
import { Card, CardContent } from "@/components/ui/card";
import CaseStudyCard from "@/components/CaseStudyCard.astro";

import amazonImage from "@/images/home/case-studies/amazon.png";
import myntzImage from "@/images/home/case-studies/myntz.png";
import skippyImage from "@/images/home/case-studies/skippy.png";
---

<Layout>
  <main class="site-width">
    <p class="mb-8 font-serif text-xl text-muted-foreground md:text-2xl">
      Art Director & Graphic Designer
    </p>

    <section class="mx-4">
      <h1 class="mb-2 text-muted-foreground">Case Studies</h1>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <CaseStudyCard imgSrc={amazonImage} label="Amazon Grocery" />
        <CaseStudyCard imgSrc={skippyImage} label="Skippy Nut Roll" />
        <CaseStudyCard imgSrc={myntzImage} label="Myntz! Breathmints" />
      </div>
    </section>
  </main>
</Layout>
