---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="India Nagy: Brand Identities, Graphic Design, Project Management"
>
  <main class="stack-large">
    <section id="about" class="center-horizontal">
      <div class="stack-small max-inline-size:60ch">
        <hgroup>
          <h2 class="sr-only">About India Nagy</h2>
          <p class="intro-text">
            Crafting Connections with Consumers: Brand & Design Expertise,
            Project Management, and Excellence
          </p>
        </hgroup>

        <p>
          Creative visionary with more than 10 years of experience transforming
          brands through innovative packaging design. My expertise spans print,
          digital, and packaging mediums for captivating consumer experiences.
        </p>

        <p>
          I've brought concepts to life for major brands including Skippy,
          Pyramid Breweries, and Myntz! My portfolio shows off imaginative
          designs that engage shoppers while delivering strategic outcomes.
        </p>

        <p>
          Success comes from uniting teams around a shared vision. I leverage
          curiosity, collaboration and project management strengths to uncover
          opportunities and ensure flawless execution.
        </p>

        <p>
          I'm seeking a senior art director role where I can make brands leap
          off shelves into hearts and minds. Let's connect if you need a design
          expert who thrives on driving strategic impact through creativity.
        </p>
      </div>
    </section>

    <section id="skills" class="stack-small">
      <h2>My Skills</h2>
      <div class="switcher">
        <ul>
          <li>Branding & Packaging Design</li>
          <li>Website & Digital Design</li>
          <li>Photography & Art Direction</li>
        </ul>
      </div>
    </section>

    <section id="case-studies">
      <h2>Case Studies</h2>
      <ul>
        <li>Skippy & Salted Nut Roll</li>
        <li>Myntz! Breathmints</li>
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  @import "../styles/scale.scss";

  p {
    text-wrap: pretty;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border: 1px solid red;
  }

  .intro-text {
    font-size: ms(3);
    font-weight: bold;
    text-wrap: balance;
    line-height: ms-factor(2);
  }

  .switcher {
    $limit: 4;
    $space: ms(1);
    $threshold: 400px;
    $last-child: $limit + 1;

    display: block;

    > * {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      margin: calc((#{space} / 2) * -1);
    }

    > * > * {
      flex-basis: calc((#{$threshold} - (100% - #{$space})) * 999);
      margin: calc(#{$space} / 2);
      flex-grow: 1;
    }

    > * > :nth-last-child(n + #{$last-child}),
    > * > :nth-last-child(n + #{$last-child}) ~ * {
      flex-basis: 100%;
    }
  }
</style>
