---
import { Picture } from "astro:assets";

interface Props {
  label: string;
  href: string;
  imgSrc: string;
}

const { label, href, imgSrc } = Astro.props;
---

<li
  class="relative flex flex-col rounded-lg border border-transparent p-1 transition duration-300 ease-in-out focus-within:border-muted-foreground motion-safe:hover:scale-[1.03]"
>
  <div class="order-1">
    <h3>
      <a
        href={href}
        class="after:absolute after:inset-0 hover:no-underline focus:outline-none"
        >{label}</a
      >
    </h3>
  </div>
  <div>
    <Picture
      src={imgSrc}
      alt={label}
      class="rounded-3xl"
      widths={[600, 1200]}
      sizes="600px"
      formats={["avif", "webp"]}
      inferSize
    />
  </div>
</li>
