---
import type { Section as Props } from "@/resources/types";

import { Picture } from "astro:assets";

const { label, images } = Astro.props;
---

<h2 class="mt-10">{label}</h2>
<div class="flex flex-col gap-4 sm:gap-6">
  {images.map((imgSrc) => <Picture src={imgSrc} alt={label} />)}
</div>
