---
import { Picture } from "astro:assets";

interface Props {
  label: string;
  imgSrc: ImageMetadata;
}

const { label, imgSrc } = Astro.props;
---

<h2 class="mt-10">{label}</h2>
<Picture src={imgSrc} alt={label} />
