---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul
  class="m-0 flex max-w-[60ch] list-none flex-wrap items-center gap-2 uppercase leading-4"
>
  {
    items.map((item, index) => (
      <li
        class={index < items.length - 1 ? "after:ml-1 after:content-['•']" : ""}
      >
        {item}
      </li>
    ))
  }
</ul>
