---
import { Button } from "./ui/button";
---

<div id="container">
  <main>
    <section id="hero">
      <h1>
        To get started, open the <code><pre>src/pages</pre></code> directory in your
        project.
      </h1>
      <section id="links">
        <Button>Read our docs</Button>
        <a class="button" href="https://docs.astro.build">Read our docs</a>
      </section>
    </section>
  </main>
</div>
