---
import "../styles/reset.scss";
import "../styles/global.scss";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="India Nagy’s professional website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="center-horizontal">
    <header class="center-horizontal">
      <h1>
        <a href="/">
          India Nagy<span class="sr-only">’s Professional Website</span>
        </a>
      </h1>
      <nav>
        <ul>
          <li>
            <a href="/#skills">My Skills</a>
          </li>
          <li>
            <a href="/#case-studies">Case Studies</a>
          </li>
          <li>
            <a href="/#about">About</a>
          </li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>

    <div class="content">
      <slot />
    </div>
  </body>
</html>

<style lang="scss">
  @import "../styles/colors.scss";
  @import "../styles/scale.scss";

  $header-height: 4.5rem + ms(-4) * 3;

  header {
    inline-size: 100%;
    padding-block: ms(-4);
    background-color: color-gray(95);
    position: fixed;
    z-index: 100;
  }

  h1 {
    a {
      text-decoration: none;
    }
  }

  nav {
    margin-block-start: ms(-4);
  }

  ul {
    display: flex;
    gap: ms(0);
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .content {
    margin-block-start: $header-height;
  }

  :global(.anchor) {
    position: relative;
    top: -$header-height;
    visibility: hidden;
  }
</style>
