---
import "@fontsource-variable/work-sans";
import "@fontsource/alice";

import Footer from "./Footer.astro";
import Head from "./Head.astro";
import Header from "./Header.astro";

import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />

  <body>
    <a href="#main" class="skip-link"> Skip to main content </a>
    <Header />

    <main id="main" class="site-width mt-6 pt-[48px] sm:mt-8 md:pt-[132px]">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  @reference "@/styles/global.css";

  .skip-link {
    @apply sr-only z-100 focus:not-sr-only focus:fixed focus:top-0 focus:left-0 focus:bg-white focus:p-2;
  }
</style>
