---
import "@fontsource/alice";
import "@fontsource-variable/work-sans";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>

  <body>
    <header class="site-width mb-1 py-4">
      <nav class="flex items-baseline justify-between">
        <a href="/" class="font-serif text-3xl">India Nagy</a>
        <div class="flex gap-x-3.5">
          <a href="#">Work</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </nav>
    </header>
    <slot />
  </body>
</html>
